<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card container shadow-sm px-0 d-flex", style="max-width:500px">
    
    <div class="card-header text-center"><h5><strong>Forgot password?</strong></h5></div>
    <div class="card-body">
      <div class="field input-group pr-5", style="justify-content:right;">
        <div class="input-group-prepend">
          <span class="input-group-text">Email: </span>
        </div>   
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form control" %>
      </div>
    </div>
   
    <div class="container pt-5 pb-4 justify-content-center">
      <%= f.submit "Send password update instructions", class: 'btn btn-primary btn-block '%>
      <%= link_to "Cancel", projects_path, class: "btn btn-outline-primary btn-block", type: "submit", role: "button"%>
      <%= render "devise/shared/links" %>
    </div>
  </div>
    
<%end%>




