<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Jumbotron Template · Bootstrap v4.6</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/jumbotron/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS for this template -->
<link href="../app/assets/stylesheets/jumbo.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .jumbotron {
        margin-bottom: 0;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    


<main role="main" class="flex-shrink-0">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="">
    <div class="container">
     
      <h1 class="display-3 pt-3">Projects</h1>
      <p class="pb-3">Welcome to my projects website. Below is a list of all the current projects!</p>
      <% if user_signed_in? %>
        <%= link_to 'Create Project', new_project_path, class:"btn btn-success btn-lg", role:"button", align: "right" %>
      <% end %>
    </div>
  </div>


  <div class="album py-5">
    <div class="container">
      <div class="row">
      <% @projects.each do |project| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm", style="height:300px">
            <h4 class="card-header bg-secondary text-white", style="height:80px; transform: rotate(0);", role="button" %>
              <%= link_to project.title, project, class:"text-white stretched-link" %>
            </h4>
            <div class="card-body">
              <div class="d-flex container overflow-hidden text-dark text-decoration-none align-middle", style="height:75%">
                <%= project.description %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group pt-3">
                  <% if user_signed_in? %>
                    <p><%= link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-outline-secondary", role: "button" %>
                  <% end %>
                </div>
                <small class="text-muted"><%=project.updated_at.strftime("%D") %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    </div>
  </div>

    

<!--

  <div class="album py-5 ">
    <div class="container">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= project.title %></text></svg>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= project.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p><%= link_to 'View', project, class: "btn btn-sm btn-outline-secondary", role: "button" %>
                <p><%= link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-outline-secondary", role: "button" %>
              </div>
              <small class="text-muted"><%=project.updated_at.strftime("%D") %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  

      <div class="card-columns album py-5 px-5">
        <% @projects.each do |project| %>
          
            <div class="card bg-light streched-link">
              
              <div class="card-title text-dark", style="height:42px">
                <%= link_to project.title, project, class:"stretched-link"%>
              </div>
              <div class="card-body">
                <div class="d-flex container overflow-hidden text-dark text-decoration-none align-middle", style="height:150px">
                  <%= project.description %>
                </div>
                <div class="d-flex justify-content-between align-items-left">
                  <% if user_signed_in? %>
                    <p><%= link_to 'Edit', edit_project_path(project), class: "btn btn-sm btn-outline-secondary", role: "button" %>
                  <% end %>
                  <small class="text-muted"><%=project.updated_at.strftime("%D") %></small>
                </div>
              </div>
            </div>
        <% end %>
      </div>
-->
     
  

</main>




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
