<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark shadow-sm">
      <a class="navbar-brand" href="/">Projects</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        
        <div>
      
        <% if user_signed_in? %>
          <%= link_to "Account", edit_user_registration_path, class: "btn btn-outline-secondary navbar-brand", type: "submit", role: "button"%>
          <%= link_to "Logout", destroy_user_session_path, class: "btn btn-outline-secondary navbar-brand", method: :delete, role: "button"%>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary navbar-brand", type: "submit", role: "button", id:"sign-up-button"%>
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary navbar-brand", type: "submit", role: "button", id:"login-button"%>
        <% end %>
      </div>
   
    </nav>
  <div class="container pt-2">
    <% unless notice.nil? %>
      <div class="alert alert-info alert-dismissible visible", id="noticeMsg">
        <button type="button" class="close" data-dismiss="alert", id="notice">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% unless alert.nil? %>
      <div class="alert alert-warning alert-dismissible visible", id="alertMsg">
        <button type="button" class="close" data-dismiss="alert", id="alert">&times;</button>
        <%= alert %>
      </div>
    <% end %>
  </div>
  </head>



  <body id="background">
    <%= yield %>
  </body>
  <div class="pt-5">
    <footer class="container fixed-bottom">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2021 Austin Hobbs &middot; <a href="/about">About</a></p>
    </footer>
  </div>


</html>
